<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="results-container">
        <!--Object structure: data.body => artists (an object) => items tyle="display: grid;  grid-template-columns: auto auto auto"(an array of all the individual artist objects)-->
        {{#each artist}}
        <!--artist here refers to the key I assigned to the object in res.render in GET request in app.js file-->
        <div>
            <img src="{{images.[0].url}}" alt="artist image">
            <div class="search-results-div">
                <h2>{{name}}</h2>
                <button class="pink-btn" type="submit"><a href="/albums/{{id}}">View
                        albums</a></button>
            </div>
        </div>
        {{/each}}
    </div>

</body>

</html>