<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="index-body">
    <div id="artist-search-div">
        <form class="artist-search-form" action="/artist-search" method="GET">
            <input type="text" name="artistq">
            <!--name here has to match the searchArtists() api method (i.e. searchArtists(req.query.artist)-->
            <button class="pink-btn" type="submit">Search for an artist</button>
        </form>
    </div>
</body>

</html>